# Frontend
frontend/node_modules/
frontend/.DS_Store
frontend/dist/
frontend/.env

# Backend
backend/.env
backend/venv/
backend/.venv/
backend/.venvl/
backend/__pycache__/
backend/.pytest_cache/
backend/restaurant.db
backend/rms.db
backend/scripts
dummy_data_log.json
seed_dashboard.py
fill_live_data.py
clear_tables.py
dummy_data.py
*.pyc
*.pyo

# IDE
.DS_Store
.vscode/
.idea/
Makefile

# User Uploaded Static Images
backend/static/
frontend/src/assets/images/

# Scratch Scripts / Secrets
backend/check_db.py
pract.py